* {
    box-sizing: border-box;
}

body {
    font: 1.6rem/1.5 Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #000;
}