.footer {
    background-image: url(../images/social-network.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 7rem 1rem;
    font-size: 4rem;

    & a { 
        display: inline-block; 
        padding: 2rem 0;
        margin-right: 2rem;
        background-color: blue;
        border-radius: 5px;
    }
}