#welcome-section {  
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: calc(100vh - 8rem);
    max-width: 1700px;
    margin: 0 auto;
    padding-top: 8rem;
    box-shadow: 3px 3px 5px 6px rgba(0,0,0,.8);
    text-align: center;
    @include mq('small') {
        width: 95%;
    }
    @include mq('large') {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
} 

.welcome-section__img {
    grid-area: 1/1/2/4; 
    background-image: url(../images/me.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000; 
    @include mq('large') {
        grid-area: 1/1/2/2; 
    }
} 

.welcome-section__text {
    font-size: 2rem;
    padding: 1rem;
    grid-area: 1/1/2/4; 
    box-shadow: inset 400px 400px 350px rgba(0,0,0, .8);
    background-color: #000000;   
    background-image: linear-gradient(#bdc3c7 -20%, #2c3e50 74%);
    opacity: .7;
    @include mq('large') {
        grid-area: 1/2/2/3; 
        opacity: 1;
        background-image: url(../images/welcome-bg.jpg);
    }
}
